<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Event</title>
    <script src="https://cdn.tailwindcss.com"></script> 
</head>
<body class="bg-[#1c1f29] text-gray-200 flex items-center justify-center min-h-screen">
    {% block content %}

        {% if messages %}
            <div class="mb-4">
                {% for message in messages %}
                <div class="bg-green-700 border-l-4 border-green-500 text-green-200 p-3 rounded">
                    <p class="font-semibold">{{ message }}</p>
                </div>
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST" class="space-y-4" enctype='multipart/form-data'>
            {% csrf_token %}
            <h2 class="text-2xl font-semibold text-gray-100 mb-4 text-center">Add New Event</h2>
            <div class="space-y-2 bg-[#1c1f29] p-4 rounded-lg border border-gray-600">
                {{ add_events_form.as_p }}
            </div>
            <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300">
                Add Event
            </button>
        </form>

    {% endblock %} 
</body>
</html>
