<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is User Log in Page !</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'log-in' %}" method="POST">
        {% csrf_token %}
        <label for="username">username</label> <input type="text" id='username' name='username'><br><br>
        <label for="password">password</label> <input type="password" id='password' name='password'><br><br>
        <button type="submit">Log In</button>
    </form>

</body>
</html>