{% extends "categories/categories.html" %}

{% block title %}Create Category{% endblock %}
{% block category %}
    <section>
        {% block content %}
    <div>
        {% if messages %}
            {% for message in messages %}
            <p class="text-green-500 font-bold mb-4">{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>

    <div class="container mt-4">
        <h2>Update Category</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                {{ update_category_form.as_p }}  
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {% endblock %}
    </section>

{% endblock %}