{% extends "Dashboard/index.html" %}

{% block title %}Dashboard{% endblock %}
{% block content %}
    <main class="container mx-auto p-6">
        <div class=" p-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mb-8 ">
            <a href="{% url 'dashboard' %}?type=Total_Participants">
                <div class="bg-white p-4 rounded-lg shadow-lg">
                    <h3 class="text-lg font-semibold text-gray-700">Total Participants</h3>
                    <p class="text-2xl text-gray-500"> 18 </p>
                </div>
            </a>
            <a href="{% url 'dashboard' %}?type=Total_Events">
                <div class="bg-white p-4 rounded-lg shadow-lg">
                    <h3 class="text-lg font-semibold text-gray-800">Total Events</h3>
                    <p class="text-2xl text-gray-500"> {{counts.total}} </p>
                </div>
            </a>
            <a href="{% url 'dashboard' %}?type=Upcoming_Events">
                <div class="bg-white p-4 rounded-lg shadow-lg">
                    <h3 class="text-lg font-semibold text-gray-800">Upcoming Events</h3>
                    <p class="text-2xl text-gray-500"> {{counts.upcoming}} </p>
                </div>
            </a>
            <a href="{% url 'dashboard' %}?type=Past_Events">
                <div class="bg-white p-4 rounded-lg shadow-lg">
                    <h3 class="text-lg font-semibold text-gray-800">Past Events</h3>
                    <p class="text-2xl text-gray-500"> {{counts.past_event}} </p>
                </div>
            </a>
        </div>
        
        
        <div class=" p-4">
            <h1 class="text-3xl font-bold mb-4">Event List</h1>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
                {% for event in events %}
                <div class="bg-white rounded-lg shadow-lg overflow-hidden">
                    <img class="w-full h-48 object-cover border-b" src="https://i.ibb.co.com/wFYfvwzp/card-image.jpg" alt="this is an image">
                    <div class="p-4">
                        <h2 class="text-xl text-black"> {{event.title}} </h2>
                        <p class="text-gray-600 pt-2"> {{event.description}} </p>
                        <p class="text-gray-600"> {{event.date}} at {{event.time}} </p>
                        <p class="text-gray-600"> {{event.location}} </p>
                        <p class="text-gray-600">Category: {{event.category.name}} </p>
                    </div>

                    {% comment %} update and delete part  {% endcomment %}
                    {% comment %} <div class="px-4 pb-3 flex gap-6">
                        <a href="{% url 'update_event' event.id %}" class="px-2 py-1 bg-green-600 text-white rounded-lg shadow-lg">Edit</a>
                        <form action="{% url 'delete_events' event.id %}" method="POST">
                            {% csrf_token %}
                            <button type='submit'  class="px-2 py-1 bg-red-700 text-white rounded-lg shadow-lg">Delete</button>
                        </form>
                    </div> {% endcomment %}
                </div>
                {% endfor %}
            </div>
        </div>   
        
    </main>
{% endblock %}
    
