{% extends "Dashboard/index.html" %}

{% block title %}Dashboard{% endblock %}
{% block content %}
    <main class="container mx-auto px-6">
        
        <section class="relative w-full h-screen flex items-center justify-center bg-gray-900">
            <!-- Background Image -->
            <div class="absolute inset-0">
                <img src="https://i.ibb.co.com/r2ZMmqT2/hero-section-image.jpg" class="w-full h-full object-cover opacity-70">
            </div>
            
            <!-- Overlay -->
            <div class="absolute inset-0 bg-black bg-opacity-50"></div>
            
            <!-- Hero Content -->
            <div class="relative z-10 text-center text-white px-6">
                <h1 class="text-4xl md:text-6xl font-bold text-cyan-400">Welcome to Our Event</h1>
                <p class="mt-4 text-lg md:text-xl">Join us for an unforgettable experience filled with music, fun, and entertainment.</p>
                <a href="#register" class="mt-6 inline-block px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white  rounded-lg shadow-lg transition duration-300">Register Now</a>
            </div>
        </section>
        
        <div class=" p-4 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-4 mb-8 mt-10">
           <a href="{% url 'dashboard' %}?type=Total_Events" >
               <div class="border bg-white p-4 rounded-lg shadow-sm hover:bg-gray-200">
                   <h3 class="text-lg font-semibold text-gray-800">All Events</h3>
               </div>
           </a>
           <a href="{% url 'dashboard' %}?type=Upcoming_Events" >
               <div class="border bg-white p-4 rounded-lg shadow-sm hover:bg-gray-200">
                   <h3 class="text-lg font-semibold text-gray-800">Upcoming Events</h3>
               </div>
           </a>
           <a href="{% url 'dashboard' %}?type=Past_Events" >
               <div class="border bg-white p-4 rounded-lg shadow-sm hover:bg-gray-200">
                   <h3 class="text-lg font-semibold text-gray-800">Past Events</h3>
               </div>
           </a>
       </div>
        
        
        
        <div class=" p-4">
            <div class="mx-auto flex justify-between items-center">
                
                <p class="text-3xl font-bold mb-4 mb-10">Event List</p>
                <div>
                    <a href="http://127.0.0.1:8000/events/create-event" class="px-6 py-2 text bg-blue-600 hover:bg-blue-700 text-white  rounded-lg shadow-lg ">Join Now !</a>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
                {% for event in events %}
                <div class="bg-white rounded-lg shadow-lg overflow-hidden">
                    <img class="w-full h-48 object-cover border-b" src="https://i.ibb.co.com/wFYfvwzp/card-image.jpg" alt="this is an image">
                    <div class="p-4">
                        <h2 class="text-xl text-black"> {{event.title}} </h2>
                        <p class="text-gray-600 pt-2"> {{event.description}} </p>
                        <p class="text-gray-600"> {{event.date}} at {{event.time}} </p>
                        <p class="text-gray-600"> {{event.location}} </p>
                        <p class="text-gray-600">Category: {{event.category.name}} </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>   
        
    </main>
{% endblock %}
    
